<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pockwester.forge"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="Forge" >
        </activity>
        <activity
            android:name=".activities.AvailabilityActivity"
            android:label="Availability Screen" >
        </activity>
        <activity
            android:name=".activities.NewUserActivity"
            android:label="Create New User" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".activities.CourseIndexActivity"
            android:label="My Courses" >
        </activity>
        <activity
            android:name=".activities.SearchCourseActivity"
            android:label="Course Search" >
        </activity>

        <provider
            android:name=".providers.ForgeProvider"
            android:authorities="com.pockwester.forge.provider" />

        <activity
            android:name=".activities.CourseDetailActivity"
            android:label="Add Course" >
        </activity>

        <activity android:name=".activities.ForgeDetailActivity"
            android:label="Find Group" />

        <activity android:name=".activities.GroupDetailActivity"
            android:label="Study Group" />

    </application>

</manifest>
